streamlit
ffmpeg-python
python-dotenv
pydub
faster-whisper
chromadb>=0.5.0
sentence-transformers
numpy==1.26.4
pandas
tqdm
librosa
scikit-learn
rank-bm25
openai
pydantic==1.10.11
fastapi==0.110.0
uvicorn
tiktoken
